<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}"
>
<head>
    <title>Edit product</title>
</head>
<body>
<div class="wrapper d-flex flex-column min-vh-100 bg-light" layout:fragment="content">
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            <button class="header-toggler px-md-0 me-md-3" type="button"
                    onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                    <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-menu}"></use>
                </svg>
            </button>
            <a class="header-brand d-md-none" href="#">
                <svg width="118" height="46" alt="CoreUI Logo">
                    <use th:href="@{/assets/brand/coreui.svg#full}"></use>
                </svg>
            </a>

            <ul class="header-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-bell}"></use>
                    </svg></a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-list-rich}"></use>
                    </svg></a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-envelope-open}"></use>
                    </svg></a></li>
            </ul>

            <ul class="header-nav ms-3">
                <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" th:src="@{/assets/img/avatars/8.png}" alt="user@email.com"></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Account</div>
                        </div>

                        <a class="dropdown-item" href="#">
                            <svg class="icon me-2">
                                <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-user}"></use>
                            </svg> Profile
                        </a>

                        <a class="dropdown-item" th:href="@{/logout}">
                            <svg class="icon me-2">
                                <use th:href="@{/vendors/@coreui/icons/svg/free.svg#cil-account-logout}"></use>
                            </svg> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <div class="tab-content rounded-bottom">
                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                    <form class="row g-3" method="post" th:action="@{/admin/product/{id}/edit(id=${product.id})}" th:object="${product}" enctype="multipart/form-data" >
                        <div class="col-12">
                            <a th:href="@{'/uploads/images/' + ${product.nameImage}}"><img th:src="@{'/uploads/images/' + ${product.nameImage}}" width="250px" height="250px"></a>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="inputEmail4">Image</label>
                            <input class="form-control" id="inputEmail4" type="file" name="image">
                            <p th:if="${imageExtension != null}" class="text-danger" th:text="${imageExtension}"></p>
                            <p th:if="${imageSize != null}" class="text-danger" th:text="${imageSize}"></p>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <label class="form-label" for="inputPassword4">Name</label>
                            <input class="form-control" id="inputPassword4" type="text" name="name" th:field="*{name}">
                            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="inputAddress2">Description</label>
                            <textarea class="form-control" id="inputAddress2" name="description" rows="5" th:field="*{description}"></textarea>
                            <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="price">Price</label>
                            <input class="form-control" id="price" type="text" name="price" th:field="*{price}">
                            <p th:if="${price != null}" class="text-danger" th:text="${price}"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="quantity">Quantity</label>
                            <input class="form-control" id="quantity" type="text" name="quantity" th:field="*{quantity}">
                            <p th:if="${quantity != null}" class="text-danger" th:text="${quantity}"></p>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="inputState">Category</label>
                            <select class="form-select" id="inputState" name="category">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == product.category.id}"></option>
                            </select>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">EDIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div >© 2024.</div>
        <div class="ms-auto" th:text="${email}"></div>
    </footer>
</div>
</body>
</html>