<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{view/layout}"
>
<head>
    <title>Shop</title>
</head>
<body>
<span layout:fragment="content">
    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>See more Details</p>
						<h1>Single Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- end breadcrumb section -->

    <!-- single product -->
	<div class="single-product mt-100 mb-100">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img th:src="@{'/uploads/images/' + ${product.nameImage}}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3 th:text="${product.name}"></h3>
						<p class="single-product-pricing" th:text="'$'+${product.price}"><span>Per Kg</span></p>
						<p th:text="${product.description}"></p>
						<p><strong>Quantity: </strong><span th:text="${product.quantity}"></span></p>
						<div class="single-product-form">
							<form th:action="@{/cart/add}" method="post">
								<input name="pid" th:value="${product.id}" hidden>
								<input type="number" value="1" min="1" th:max="${product.quantity}" name="quantity">
								</br>
								<button sec:authorize="isAuthenticated()" type="submit" style="border: none; background: #fff"><a class="cart-btn"><i
									class="fas fa-shopping-cart"></i> Add to Cart</a></button>
								<a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="cart-btn"><i
									class="fas fa-shopping-cart"></i> Add to Cart</a>
							</form>
							<p><strong>Categories: </strong><span th:text="${product.category.name}"></span></p>
						</div>
						<h4>Share:</h4>
						<ul class="product-share">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- end single product -->
</span>
</body>
</html>